

.crypto-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.crypto-card {
    height: 50%;
    width: 25%;
    background-color: #f3e5f5;
    border: 2px solid #e1bee7;

    h1 {
        font-size: 30px;
    }

}